In [59]:
from nba_api.stats.endpoints import leaguegamelog
import pandas as pd

seasons = ['2020-21', '2021-22', '2022-23', '2023-24', '2024-25']
all_games = []

for season in seasons:
    gamelog = leaguegamelog.LeagueGameLog(season=season, season_type_all_star='Regular Season')
    df = gamelog.get_data_frames()[0]
    
    # Add season column
    df['SEASON'] = season
    
    # Mark home/away from MATCHUP
    df['HOME'] = df['MATCHUP'].str.contains('vs')
    
    all_games.append(df[['GAME_ID', 'TEAM_ID', 'HOME', 'SEASON']])

# Combine all
games_df = pd.concat(all_games).drop_duplicates(['GAME_ID', 'TEAM_ID'])

# Pivot to get HOME_TEAM_ID and AWAY_TEAM_ID
home_df = games_df[games_df['HOME'] == True][['GAME_ID', 'TEAM_ID', 'SEASON']].rename(columns={'TEAM_ID': 'HOME_TEAM_ID'})
away_df = games_df[games_df['HOME'] == False][['GAME_ID', 'TEAM_ID']].rename(columns={'TEAM_ID': 'AWAY_TEAM_ID'})

# Merge to single row per game
final = pd.merge(home_df, away_df, on='GAME_ID')

In [63]:
final.to_csv("data/season_matchups.csv", index=False)

In [64]:
final.head()

      GAME_ID  HOME_TEAM_ID   SEASON  AWAY_TEAM_ID
0  0022000001    1610612751  2020-21    1610612744
1  0022000002    1610612747  2020-21    1610612746
2  0022000017    1610612763  2020-21    1610612759
3  0022000014    1610612761  2020-21    1610612740
4  0022000003    1610612738  2020-21    1610612749